name = "activitypub-relay"
main = "src/server.ts"
compatibility_date = "2025-11-22"
compatibility_flags = [ "nodejs_compat_v2", "enable_nodejs_fs_module" ]

# Static assets configuration
# Using the new Workers Assets feature
[assets]
directory = "public"
binding = "ASSETS"

[vars]
HOSTNAME = "relay-test.mattyaski.co"

[[d1_databases]]
binding = "DB"
database_name = "relay"
database_id = "0c4a4930-3e25-465a-a322-775bb61eed84"

[observability.logs]
enabled = true
